<div class="row" ng-controller="clickController">
	<div class="col-lg-8 col-lg-offset-2 col-md-12">
		<div class="flightOpt">
			<h1>LinkedIn </h1>
			<div class="linkedIn">
				<form>
					  <input type="checkbox" name=""> Connect to LinkedIn<br>
					  
				</form>
				<div class="pics">
					<div id="gwen"></div>
					<div id="man"></div>
					<div id="ben"></div>
				</div>
			</div>
		
			<div class="next" ng-onclick="clickControlling()">
						<a href="#/view5"><img class="animated shake" src="img/next.svg"></a>
					</div>	
		
		</div>
	</div>
</div>