button{
			margin: 0px auto 30px auto;
			display: block;
			min-width: 90px;
			height: 50px;
			padding: 0px 60px;
			border-radius: 5px; 
			background-color: rgba(240, 240, 243, 0.68);;
			box-shadow: 0px -0.5px 5px grey; 
			border: none;
			border-bottom: 1px solid black;

		}

/*button{
		margin: 30px auto 30px auto;
			display: block;
			min-width: 90px;
			height: 60px;
			padding: 0px 60px;
			border-radius: 10px; 
			background-color: rgba(240, 240, 243, 0.68)	;
			box-shadow: 1px -1px 1px grey; 
			border: none;
	}
	*/



	.next{
		display: block;
		margin: 0px auto;
		margin-bottom: 30px;
		img{
			display: block;
			display: block;
			margin: 0px auto;
			max-width: 40px;
			max-height: 40px;
   
		}
	}
#next-button {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 5s;

  animation-duration: 2s;
  animation-delay: 5s;
 
}


@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%, 15%, 25%, 35% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  10%, 20%, 30% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%, 15%, 25%, 35%{
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  10%, 20%, 30%{
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}