@import url(https://fonts.googleapis.com/css?family=Arvo);
body{
	
}
.fullscreen{
	min-height: 100vh;
}

.person{
	display: block;
	margin: 0px auto;
	.image{
		width: 100%;
		height: 200px;
		background: url("../../img/images.jpeg") no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.personal_info{
		
			margin-top: 35px;
		
	}

	.link{
		margin-top: 15px;
	}

}

.chat{
	margin-top: 40px;
	/*button{
		margin-right: 60px;
	}

	button:last-child{
		margin-right: 0px;
	}*/
}