<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		<h1>Get Your match!</h1>
		<p>You have natched with this person on your trip to Prague</p>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 text-center">
			<div class="person">
				<div class="image"></div>
				<div class="personal_info">
					<h4>{{matches.firstName}} {{matches.secondName}}</h4>
				</div>
				<div class="link">
					<span>LinkedIn: <a href="">{{matches.link}}</a> </span> 
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 ">
			<div class="chat text-center">
				<p>Chat Now!</p>
			</div>
			
		</div>
	</div>
</div>