<div class="row">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		<h1>Get Your match!</h1>
		<p>You have natched with this person on your trip to Prague</p>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 text-center">
			<div class="person">
				<div class="image"></div>
				<div class="personal_info">
					<span>{{matches.firstName}}</span> 
					<span>{{matches.secondName}}</span>
				</div>
				<div class="link">
					<span><a href="">{{matches.link}}</a> </span> 
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 ">
			<div class="chat text-center">
				<p>Chat Now!</p>
			</div>
			
		</div>
	</div>
</div>