<div class="row" ng-controller="clickController">
	<div class="col-lg-12 col-md-12">

		
		<div class="row" ng-show="myVar">
			<div class="col-lg-8 col-lg-offset-2 col-md-12">
				<h1>Book flight</h1>
				<div class=" row findFlight">
					<form class="col-lg-6 from" ng-controller="selectFlight">
						<img src="img/plane1.svg">
						<span>From:</span><br>
						<input type="text" list="flights" name="flightFrom" name="from" value="Helsinki">
						<datalist id="flights">
						    <option ng-repeat="item in flights track by $index" ng-click="setChange(flight)" ng-model="flight.from" ng-change="change()"
                             value="{{flights.from}}">
						  </datalist>
					</form> 
					<form class="col-lg-6 to" ng-controller="selectFlight">
						<img src="img/plane1.svg">
						<span>To:</span><br>
						<input type="text" list="flights" name="flightTo" name="to" value="Prague" ng-model="flight.to" ng-change="change()">
						<datalist id="flights">
						    <option ng-repeat="item in flights track by $index" ng-click="setChange(flight)"
                             value="{{flights.to}}">
						  </datalist>
					</form> 
					<!--<button id="search" onclick="searchClick()"> Search</button>-->
					<div class="next">
						<img ng-click="toggle()" src="img/next.svg">
					</div>
				</div>
			</div>
		</div>
		
		<!-- DEBUG LINKING__! -->
		<!--Show search results -->
		<div class="row" id="searchResult" ng-hide="myVar">
			<div class="col-lg-8 col-lg-offset-2 col-md-6">
				<div class="listOfREsults">
					<ul>
						<li ng-repeat="flight in flights"> <h3>{{flights.id}}</h3>
							<div class="date">
								<small>{{flights.date}}</small>
							</div>
							<div class="departure">
								<span>{{flights.from}}</span><br>
								<span>{{flights.daparture}}</span> 
							</div>
							<img src="img/plane2.svg">
							<div class="arrival">
								<span>{{flights.to}}</span><br>
								<span>{{flights.arrival}}</span> 
							</div>
							<div class="price">
								<span>{{flights.price}} e</span>
							</div>
						</li>
					</ul>
					<!--<button id="continue">Continue</button>-->
					<div class="next">
						 <a href="#/view3"><img src="img/next.svg"></a>
						
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>





