<div class="row">
	<div class="col-lg-12 col-md-12">

		
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-12">
				<h1>Book flight</h1>
				<div class=" row findFlight">
					<form class="col-lg-6 from">
						<img src="img/plane1.svg">
						<span>From:</span><br>
						<input list="flight" name="from" value="Helsinki">
					</form> 
					<form class="col-lg-6 to">
						<img src="img/plane1.svg">
						<span>To:</span><br>
						<input list="flight" name="from" value="Prague">
					</form> 
					<!--<button id="search" onclick="searchClick()"> Search</button>-->
					<div class="next">
						<img src="img/next.svg">
					</div>
				
				</div>
			</div>
		</div>
		
		<!-- DEBUG LINKING__! -->
		<!--Show search results -->
		<div class="row" id="searchResult" ng-hide="myVar">
			<div class="col-lg-8 col-lg-offset-2 col-md-6">
				<div class="listOfREsults">
					<ul>
						<li> <h3>A12345</h3>
							<div class="date">
								<small>21 Dec 2015</small>
							</div>
							<div class="departure">
								<span>Helsinki</span><br>
								<span>11:20 AM</span> 
							</div>
							<img src="img/plane2.svg">
							<div class="arrival">
								<span>Prague</span><br>
								<span>13:20 PM</span> 
							</div>
							<div class="price">
								<span>120 e</span>
							</div>
						</li>
						<li> <h3>A12345</h3>
							<div class="date">
								<small>21 Dec 2015</small>
							</div>
							<div class="departure">
								<span>Helsinki</span><br>
								<span>11:20 AM</span> 
							</div>
							<img src="img/plane2.svg">
							<div class="arrival">
								<span>Prague</span><br>
								<span>13:20 PM</span> 
							</div>
							<div class="price">
								<span>120 e</span>
							</div>
						</li>
						<li> <h3>A12345</h3>
							<div class="date">
								<small>21 Dec 2015</small>
							</div>
							<div class="departure">
								<span>Helsinki</span><br>
								<span>11:20 AM</span> 
							</div>
							<img src="img/plane2.svg">
							<div class="arrival">
								<span>Prague</span><br>
								<span>13:20 PM</span> 
							</div>
							<div class="price">
								<span>120 e</span>
							</div>
						</li>
						<li> <h3>A12345</h3>
							<div class="date">
								<small>21 Dec 2015</small>
							</div>
						
							<div class="departure">
								<span>Helsinki</span><br>
								<span>11:20 AM</span> 
							</div>
							<img src="img/plane2.svg">
							<div class="arrival">
								<span>Prague</span><br>
								<span>13:20 PM</span> 
							</div>
							<div class="price">
								<span>120 e</span>
							</div>
						</li>
						<li> <h3>A12345</h3>
							<div class="date">
								<small>21 Dec 2015</small>
							</div>
						
							<div class="departure">
								<span>Helsinki</span><br>
								<span>11:20 AM</span> 
							</div>
							<img src="img/plane2.svg">
							<div class="arrival">
								<span>Prague</span><br>
								<span>13:20 PM</span> 
							</div>
							<div class="price">
								<span>120 e</span>
							</div>
						</li>
					</ul>
					<!--<button id="continue">Continue</button>-->
					<div class="next">
						<img src="img/next.svg">
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>


